html {
  font-size: 0.9rem;
}

body,
button {
  margin: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 1.125rem;
}

img {
  max-width: 100%;
}

header img {
  height: 300px;
  border-radius: 50%;
}

.container {
  width: 90%;
  max-width: 570px;
  margin: 0 auto;
  padding: 6.25em 0;
}

/* Typography */
h1 {
  font-size: 3.75rem;
  margin-top: 0;
}

h2 {
  font-size: 2.625rem;
  margin-top: 0;
  border-top: 1px #c4c4c4 solid;
  border-bottom: 1px #c4c4c4 solid;

  padding: 0.5em 0;
  margin-bottom: 0;
}

h3 {
  font-size: 2.25rem;
  margin-bottom: 0;
}

p {
  margin-bottom: 0;
}

.text-small {
  font-size: 1rem;
  margin-top: 0.3215em;
}

h1,
h2,
.text-light {
  font-weight: 300;
}

.text-accent,
time {
  font-weight: 900;
  color: #99d930;
}

h1 .text-accent {
  display: block;
  font-size: 5rem;
}

h2 .text-accent {
  display: block;
  font-size: 3.75rem;
}

a {
  color: #99d930;
  font-weight: 900;
}

.btn:hover,
.btn:focus {
  color: #fff;
  background-color: #252525;
}

.inverse {
  color: #fff;
  background-color: #252525;
}

.inverse .btn:hover,
.inverse .btn:focus {
  background-color: #fff;
  color: #252525;
}

.btn {
  display: inline-block;
  text-decoration: none;
  background-color: #99d930;
  color: #252525;
  padding: 0.625em 1.5625em;
  margin-top: 1.5625em;
}

button {
  cursor: pointer;
}

/* Styling modal */

#modal {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 1em;
  position: relative;
  top: 50%;
  margin: 0 auto;
}

#modal a {
  margin: 1em;
}

#overlay {
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.3);
}

.contact-link {
  display: block;
  margin-top: 5px;
}

.contact-link:hover,
.contact-link:focus {
  color: #fff;
  background-color: #252525;
}

@media (min-width: 600px) {
  html {
    font-size: 1.3125rem;
  }
}

@media (min-width: 750px) {
  header {
    min-height: 100vh;
    display: flex;
    align-items: center;
  }

  .splitter {
    display: flex;
    align-items: center;
  }

  .about-me {
    width: 50%;
  }

  .my-projects.inverse {
    width: 50%;
    background-color: #99d930;
    color: #252525;
  }

  .my-projects span,
  .my-projects time,
  .my-projects a {
    color: currentColor;
  }

  .my-projects a:hover,
  .my-projects a:focus {
    color: #fff;
  }

  .my-projects h2 {
    border-color: currentColor;
  }

  .my-projects .btn {
    background-color: #252525;
    color: #fff;
  }

  .portfolio {
    background: #252525;
    color: #fff;
    min-height: 100vh;
    display: flex;
    align-items: center;
  }

  .portfolio-block {
    display: block;
  }

  .container-work {
    max-width: 1200px;
  }

  .container-work h2 {
    margin-bottom: 1em;
  }

  .work {
    justify-content: space-between;
    display: flex;
  }

  .portfolio-item {
    width: 28%;
  }

  .portfolio-item img {
    height: 15em;
    width: 100%;
    object-fit: cover;
  }
}
